<form action="/names" method="post">
  <input type="text" name="player_one" placeholder="Player 1 name">
  <input type="text" name="player_two" placeholder="Player 2 name">
  <input type="submit" value="Submit">
</form>